body {
    font-family: 'Raleway', sans-serif;
    background: rgb(20, 219, 193);
}

#titulo-principal{
    transition: 1.5s;
    color: whitesmoke;
}

#titulo-principal:hover{
    font-size: 55px;
}

#prova-real{
    font-weight: bold;
    font-size: 30px;
    transition: 450ms;
}

#prova-real:hover{
    color: rgb(0, 89, 172);
    font-size: 35px;
}

#dec,  #romano{
    font-size: 40px;
    width: 100%;
    padding: 10px 0 10px 0;
    margin: 15px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

input{
    border-radius: 10px;
    transition: 800ms;
    background-color: rgb(255, 255, 255);
}

input:hover{
    background-color: rgb(205, 248, 255);
    border-radius: 10px;
}

#link-botao{
    color: whitesmoke;
    transition: 350ms;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(90, 177, 228);
}

#link-botao:hover{
    color: whitesmoke;
    font-size: 35px;
    padding: 15px;
    border-radius: 12px;
    background-color: rgb(77, 152, 196);
}

#provas-real{
    font-weight: bold;
    font-size: 30px;
    transition: 450ms;
}

#provas-real:hover{
    color: rgb(0, 89, 172);
    font-size: 35px;
}

#espaco{
    padding: 50px;
}

.imagem{
    width: 15%;
    transition: 1s;
    opacity: 0%;
}

.imagem:hover{
    opacity: 100%;
}